<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arnaud.integrationprojetv0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Register"
            android:parentActivityName=".Accueil">
        </activity>

        <activity
            android:name=".ChoixCategorie"
            android:parentActivityName=".Accueil">
        </activity>

        <activity
            android:name=".AfficherActivite"
            android:parentActivityName=".ChoixCategorie">
        </activity>

        <activity
            android:name=".Profil" >
        </activity>

        <activity
            android:name=".ModifProfil"
            android:parentActivityName=".Profil">
        </activity>

        <activity
            android:name=".AjouterActivite"
            android:parentActivityName=".AfficherActivite">
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".Accueil"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name=".AjoutAmis">
        </activity>

        <activity
            android:name=".AfficherAmis">
        </activity>

        <activity
            android:name=".ConfirmAjout"
            android:parentActivityName=".AjoutAmis">
        </activity>

        <activity
            android:name=".AfficherProfilAmis"
            android:parentActivityName=".AfficherAmis">
        </activity>

        <activity
            android:name=".SupprFriend"
            android:parentActivityName=".AfficherProfilAmis">
        </activity>

        <activity
            android:name=".RequeteAmis"
            android:parentActivityName=".AfficherAmis">
        </activity>

        <activity
            android:name=".AccepterAmis"
            android:parentActivityName=".RequeteAmis">
        </activity>

        <activity
            android:name=".ActiAmis"
            android:parentActivityName=".AfficherProfilAmis">
        </activity>

        <activity
            android:name=".ListeActivite"
            android:parentActivityName=".AfficherActivite">
        </activity>

        <activity
            android:name=".Messagerie">
        </activity>

        <activity
            android:name=".ActiviteFromListe">
        </activity>

    </application>

</manifest>
