<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../vendor/twitter/bootstrap/dist/css/bootstrap.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        {% block header_banner %}

        {% endblock %}
        <nav class="navbar">

        </nav>
    </header>
    <section class="">
        {% block section_left %}

        {% endblock %}
    </section>

</body>
</html>